<h1>Class Session Logins</h1>

<% @logins = Login.all(:order => 'created_at DESC') %>

<table>
  <tr>
	<th>Student</th>
	<th>Edit</th>
	<th>Section</th>
    <th>Card</th>
    <th>Logged In</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @logins.each do |login| %>
  <tr>
	<% if student = Student.find_by_diningcard(login.swipe) %>
	<% @studentid = student.id %>
	<% section = student.section %>
	<% student = student.lastname + ", " + student.firstname %>
	<td><%= student %></td>
	<td><%= link_to 'Edit', edit_student_path(@studentid) %></td>
	<% else student = "* NO NAME"%>
	<td><%= student %></td>
	<td><%= link_to 'New', new_student_path %> </td>
	<% end %>
	<td><%= section %></td>
    <td><%= login.swipe %></td> 
	<% t = login.created_at %>
    <td><%= t.strftime("%a, %b %d %H:%M %Z") %></td>
    <td><%= link_to 'Show', login %></td>
    <td><%= link_to 'Edit', edit_login_path(login) %></td>
    <td><%= link_to 'Destroy', login, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


